* {
  box-sizing: border-box;
}

html,body {
  margin: 0;
  padding: 0;
  font-family: 'Open sans', sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
}

ul{
  margin: 0;
}

h1,h2 {
  color: #333;
  font-family: 'Roboto Mono', sans-serif;

}

body {
  background-color: #F4743B;
  color: #666;
}

img {
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: rgba(153, 153, 153, 0.5);
  transition: color 0.3s ease;
}
a:hover {
  color: #999;
}


#container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.card {
  border-radius: 3px;
  box-shadow: 0px 0px 5px #666;
  background-color: #fff;
}

.first-block {
  margin-bottom: 40px;
  background-color: #fff;
  padding: 20px;

}

.second-block {
  background-color: #fff;
  padding: 20px 0 ;
}

.second-block ul {
  margin: 0;

}

.third-block {
  padding: 10px 10px;
  margin-top: 40px;
}

.second-block ul li a {
  line-height: 1.7;
}

.third-block ul {
  padding: 0;
  list-style: none;
}
.third-block ul li {
  margin: 10px 0 0 0;
}
.third-block img {
  margin-right: 10px;
}

#bizarre {

}


.fourth-block {
  padding-bottom: 20px;
  padding-top: 5px;
  margin-top: 30px;

}

.fourth-block a {
  line-height: 1.7;
  font-size: 22px;
}


.btn-red {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(242, 95, 92, 0.7);
  color: #fff ;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;

}

.btn-red:hover {
  background-color: rgba(242, 95, 92, 1);
  color: #fff;
}

#red {
  color: rgba(242, 95, 92, 1);
  text-transform: uppercase;
  letter-spacing: 1px;
}


.second-block>ul {
  list-style: none;
}

.second-block>ul>li {
  display: inline-block;
  margin-right: 60px;
}

.second-block>ul li:last-of-type {
  margin-right: 0;
}

.second-block>ul>li>a>i {
  display: block;
  font-size: 25px;
}


.third-block>ul>li {
  text-align: left;
}


.fourth-block>ul {
  list-style: none;

}

.fourth-block ul li {
  display: inline-block;
  margin-right: 50px;
}

.fourth-block ul li a {
  font-size: 35px;

}


.nav-fixed {
  position: fixed;
  width: 60px;
  background-color: #384047;
  top: 0; left: 0; bottom: 0;
  text-align: center;
  box-shadow: 0px 0px 5px 1px black;
}

.nav-fixed>a {
  display: block;
  height: 50px;
}

.nav-fixed>a:first-of-type {
  margin-top: 30px;
}

#img-bckgr-color {
  border: 3px solid rgba(244, 116, 59, 0.6);
}
